

html{
  overflow: hidden;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
}
#background{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: -1;
}
#themeButton{
  position: absolute;
  padding: 5px;
  cursor: pointer;
  font-family: verdana;
  box-shadow: 0 0 10px white;
  border-radius: 4px;
  top: 80px;
  left: 10px;
  text-align: center;
}

.land{
	fill: #262626;
  opacity: .7;
}
.landHover{
  fill: lightgray;
  stroke: #92c0dd;
  stroke-width: 2px;
}

.border{
	fill: none;
  stroke: none;
}


#globe{
  stroke: white;
  stroke-width: 2px;
}

#tooltip{
  position: absolute;
  background-color: white;
  padding: 5px;
  visibility: hidden;
  font: bold 16px verdana;
}

.showBefore:before{
  content: '';
  width: 1px;
   border-bottom: solid 2px;
   border-color: inherit;
    position: absolute;
    left: -70px;
    top: 50%;    
  animation-name: example;
    animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes example {
    from {width: 1px;}
    to {width: 70px;}
}
.pinAfter{
  transform: scale(1);  
    animation-duration: .6s;
  animation-fill-mode: forwards;
}
@keyframes pinGrow {
    from {
      transform: scale(1);
      stroke-width: 2px;
  }
    to {
      transform: scale(3);
      stroke-width: .6px
  }
}
@keyframes pinShrink {
    from {transform: scale(3); }
    to {transform: scale(1); }
}

#svg2{
  margin: 0;
  position: fixed;
  background-color: black;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0.7;
}

@keyframes fadeIn{
  from{opacity: 0.1;};
  to{opacity: .7;};
}

.countryFocus{
fill: lightgray;
  opacity: 0.7;
  stroke: #92c0dd;
  stroke-width: 4px;
}

.point{
  fill: none;
}

#buttonOfDoom{
padding: 5px;
  cursor: pointer;
  position: absolute;
  color: white;
  font-family: verdana;
  box-shadow: 0 0 10px white;
  border-radius: 4px;
  top: 10px;
  left: 10px;
  text-align: center;
}

#changeProjection{
  text-decoration: underline;
}

#imageContainer{
  position: absolute;
  height: 99%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: contain;
  z-index: 101;
}

#stepImage{
  background-color: white;
  align-self: center;
  padding: 20px;
  max-height: 85vh;
  max-width: 85vw;
  overflow: hidden;
}

#stepImage img{
  max-height: 80vh;
  max-width: 80vw;
}


.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
}

.countryFocusInfo{
  position: absolute;
  left: 65%;
  top: 50%;
  color: white;
  font: bold 16px verdana;
  text-align: center;
    position-anchor: 50% 50%;
  line-height: 2;
  z-index: 98;
}

#countryFocusName{
  font: bold 32px verdana;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.countryFocusClose{
  position: absolute;
  left: 75%;
  top: 8%;
  height: 25px;
  width: 25px;
  z-index: 99;
  cursor: pointer;
}
.countryFocusClose img{
  height: 25px;
  width: 25px;
}