

/* html{
  overflow: hidden;
} */

body{
  margin: 0;
  display: flex;
  justify-content: center;
}
#fullscreen{
  position: absolute;
  top: 20px;
  right: 25px;
  height: 26px;
  width: 26px;
  background-color: white;
  cursor: pointer;
}
#fs1, #fs2{
  position: absolute;
  height: 27px;
  width: 13px;
  background-color: black;
}
#fs1{
  transform: translate(6.5px, 0);
}
#fs2{
  transform: rotate(90deg);
}
#fs3{
  position: absolute;
  transform: translate(-4px,3px);
  height: 21px;
  width: 21px;
  background-color: black;
}

#background{
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: -1;
}
#showMenu{
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font: bold 14px verdana;
}
#buttonsMenu{
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0 0 10px white;
  padding: 10px;
  border-radius: 4px;
  visibility: hidden;
}
#themeButton{
  padding: 5px;
  cursor: pointer;
  font-family: verdana;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}
#themeButton:hover{
  box-shadow: 0 0 10px #9aafd1;
}
#buttonOfDoom{
  padding: 5px;
    cursor: pointer;
    color: white;
    font-family: verdana;
    border-radius: 4px;
    text-align: center;
  margin-bottom: 10px;
  }
  #buttonOfDoom:hover{
    box-shadow: 0 0 10px #9aafd1;
  }

#hideIceland{
  padding: 5px;
  cursor: pointer;
  font-family: verdana;
  border-radius: 4px;
  text-align: center;
}
  #hideIceland:hover{
    box-shadow: 0 0 10px #9aafd1;
  }

#hideWorldTrip{
  padding: 5px;
  cursor: pointer;
  font-family: verdana;
  border-radius: 4px;
  text-align: center;
}
  #hideWorldTrip:hover{
    box-shadow: 0 0 10px #9aafd1;
  }

  #closeMenu:hover{
    animation-name: growButton;
    animation-duration: .5s;
  animation-iteration-count: infinite;
  }
@keyframes growButton{
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

#zoom{
  position: absolute;
  top: 90%;
  left: 25px;
}
#zoomIn, #zoomOut{
  height: 25px;
  width: 25px;
  color: white;
  border: solid 1px white;
  border-radius: 4px;
  text-align: center;
  font: bold 16px verdana;
  cursor: pointer;
}
#zoomIn:hover, #zoomOut:hover{
  background-color: gray;
}


.land{
	fill: #262626;
  opacity: .7;
}
.landHover{
  fill: lightgray;
  stroke: #92c0dd;
  stroke-width: 2px;
}

.border{
	fill: none;
  stroke: none;
}


#globe{
  stroke: white;
  stroke-width: 2px;
}

#tooltip{
  position: absolute;
  background-color: white;
  padding: 5px;
  visibility: hidden;
  font: bold 16px verdana;
}

.showBefore:before{
  content: '';
  width: 1px;
   border-bottom: solid 2px;
   border-color: inherit;
    position: absolute;
    left: -70px;
    top: 50%;    
  animation-name: example;
    animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes example {
    from {width: 1px;}
    to {width: 70px;}
}
.pinAfter{
  transform: scale(1);  
    animation-duration: .6s;
  animation-fill-mode: forwards;
}
@keyframes pinGrow {
    from {
      transform: scale(1);
      stroke-width: 2px;
  }
    to {
      transform: scale(3);
      stroke-width: .6px
  }
}
@keyframes pinShrink {
    from {
      transform: scale(3);
      stroke-width: .6px; 
    }
    to {
      transform: scale(1);
      stroke-width: 2px;
     }
}

#svg2{
  margin: 0;
  position: fixed;
  background-color: black;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0.7;
}

@keyframes fadeIn{
  from{opacity: 0.1;};
  to{opacity: .7;};
}

.countryFocus{
fill: lightgray;
  opacity: 0.7;
  stroke: #92c0dd;
  stroke-width: 4px;
}

.point{
  fill: none;
}

#changeProjection{
  text-decoration: underline;
}

#imageContainer{
  position: absolute;
  height: 99%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: contain;
  z-index: 101;
}

#stepImage{
  background-color: white;
  align-self: center;
  padding: 20px;
  max-height: 85vh;
  max-width: 85vw;
  overflow: hidden;
}

#stepImage img{
  max-height: 80vh;
  max-width: 80vw;
}


.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
}

.countryFocusInfo{
  position: absolute;
  left: 65%;
  top: 50%;
  color: white;
  font: bold 16px verdana;
  text-align: center;
    position-anchor: 50% 50%;
  line-height: 2;
  z-index: 98;
}

#countryFocusName{
  font: bold 32px verdana;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.countryFocusClose{
  position: absolute;
  left: 75%;
  top: 8%;
  height: 25px;
  width: 25px;
  z-index: 99;
  cursor: pointer;
}
.countryFocusClose img{
  height: 25px;
  width: 25px;
}